---
layout: default
---

<head>
    <meta charset='utf-8'>
    <title>
        {% if page.title %}
        {{ page.title }}
        {% else %}
        {{ site.name }} &mdash; {{ site.description }}
        {% endif %}
    </title>

    {% if site.highlighter %}
    <link rel='stylesheet' href='{{ site.url }}/assets/css/syntax.css' type='text/css'>
    {% endif %}

    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>


<h1>{{ page.title }}{{ page.shortUrl }}</h1>
<div class='separator'></div>
        
{{ content }}
        
{% if site.disqus-id %} {% include comments.html %} {% endif %}

